<div style="text-align: center">
  <h1>Welcome to {{ title }}</h1>
  <button (click)="login()">Login</button>
  <button (click)="logout()">Logout</button><br /><br />
  <button (click)="button01()">Call Resource Server 01</button><br /><br />
  <h3>Message from Resource Server 01: {{ message01 }}</h3>
  </div>